<script>
    random_page=document.getElementById("random-page")
    pages=[
        {%- for post in site.posts -%}
            "{{ post.url }}",
        {%- endfor -%}
    ];
    random_page.addEventListener("click",()=>{
        if(localStorage.urls) urls = JSON.parse(localStorage.urls);
        else urls=[];
        if(urls.length >= pages.length) urls=[];
        var url = pages[0];
        for (let i = 0; i < 8; i++) {
            var index = Math.floor(pages.length * Math.random());
            url = pages[index];
            if(urls.includes(url)) continue;
            else{
                urls.push(url);
                break;
            }
        };
        localStorage.urls = JSON.stringify(urls);
        window.location.href = url;
    });
    random_page.innerHTML='<i class="fa-solid fa-dice"></i>'+random_page.innerHTML
</script>
<style>
    #random-page{
        cursor: pointer;
        width: fit-content;
    }
</style>
