{%- assign nocat = true -%}
{%- for cat in site.categories -%}
    {%- if cat[0]==page.cat -%}
        <ul class="nav-list">
            {%- for post in cat[1] -%}
                {%- assign notHide = true -%}
                {%- for cate in post.categories -%}
                    {%- if cate == "hide" -%}
                        {%- assign notHide = false -%}
                    {%- endif -%}
                {%- endfor -%}
                {% if notHide %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {%- endif -%}
    {% endfor %}
        </ul>
        {%- assign nocat = false -%}
    {%- endif -%}
{%- endfor -%}
{%- if nocat -%}
{%- if page.locate == "zh-CN" -%}
此类别下没有文章。
{%- else -%}
There are no posts under this category.
{%- endif -%}
<script>
    // Report error
    console.error("server: category not find");
    console.info("server: requested category:","{{ page.cat }}");
</script>
{%- endif -%}
