{% seo %}
{% include head-custom-google-analytics.html %}
<link
  rel="preload"
  href="/googlefont/font.css"
  as="style"
  type="text/css"
  onload="this.rel='stylesheet'"
/>
<script src="https://kit.fontawesome.com/cc4f21063d.js" crossorigin="anonymous"></script>
<meta
  name="apple-mobile-web-app-status-bar-style"
  content="black-translucent"
/>
<link
  rel="stylesheet"
  href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
/>
<link
  rel="icon"
  href="/assets/image/favicon.jfif"
  type="image/x-icon"
  title="farad314"
/>
<meta name="theme-color" content="#157878" />
