<link href="/assets/css/nav.css" rel="stylesheet"/>
<nav class="page-nav">
    {%- if page.title != "主页" -%}
        <a href="/" class="nav-home">
            <div class="nav-item">
                <span class="nav-title">
                    返回主页
                </span>
            </div>
        </a>
    {%- else -%}
        <div class="nav-item nav-home" id="random-page">
            <span class="nav-title">
                    随机页面
            </span>
        </div>
    {%- endif -%}
    {%- for cat in site.categories -%}
        {%- for tag in site.i18n -%}
            {%- if tag[0] == cat[0] -%}
                <div class="nav-item">
                    <span class="nav-title" id="{{ cat[0] }}">
                        {{ tag[1] }}
                    </span>
                    <div class="nav-spaceholder"></div>
                    <ul class="nav-list">
                        {%- for post in cat[1] -%}
                            {%- assign flag = true -%}
                            {%- for cate in post.categories -%}
                                {%- if cate == "hide" -%}
                                    {%- assign flag = false -%}
                                    {%- break -%}
                                {%- endif -%}
                            {%- endfor -%}
                            {%- if flag -%}
                            <li>
                                <a href="{{ post.url }}">
                                    {%- assign i18n = true -%}
                                    {%- for tag in site.nav-shortname -%}
                                        {%- if tag[0] == post.title -%}
                                            {{ tag[1] }}
                                            {%- assign i18n = false -%}
                                            {%- break -%}
                                        {%- endif -%}
                                    {%- endfor -%}
                                    {%- if i18n -%}
                                        {{ post.title }}
                                    {%- endif -%}
                                </a>
                            </li>
                            {%- endif -%}
                        {%- endfor -%}
                    </ul>
                </div>
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
</nav>
{%- comment -%}
    output:
    nav.page-nav
        a
            div.nav-home
                span.nav-title
                    主页
    -- Repeat part (nav-item) Start --
        div.nav-item
            span.nav-title
                < i18n title >
            div.nav-placeholder
            ul.nav-list
            -- Repeat part (li) Start --
                li
                    a
                        < shorten title >
            -- Repeat part (li) End   --
    -- Repeat part (nav-item) End   --
{%- endcomment -%}
<script src="/assets/js/libraries/random_page.js"></script>
{%- include variable.html -%}
{%- if page.title == "主页" -%}
    <script>
        document.getElementById("random-page").style.display="block";
    </script>
{%- endif -%}
<script>
    'use strict';
    var nav=document.querySelector("body > div.page-header-block > nav");
    var ItemCount = nav.childElementCount;
    for (let index = 0; index < ItemCount; index++){
        const item = nav.children[index];
        if(item.tagName != 'A') if(item.id != 'random-page') {
            item.children[0].itemList = getPageListForNav(item);
            item.children[0].addEventListener('click',randomPage);
        }else{
            item.addEventListener('click',randomPage);
            var i=document.createElement("i");
            i.classList.add('fa-solid','fa-dice');
            item.insertBefore(i,item.firstChild);
        }
    };
</script>
