---
---
.color-inherit{color: inherit;}
// This is to prevent errors from being reported in the editor

@import "{{ site.theme }}";
@import url("./darkTheme.css");

// Print adaptation
.printonly {
  display: none;
}

@media print {
  .printonly {
    display: unset;
  }
  .no-print {
    display: none;
  }
}

// Scrollbar
::-webkit-scrollbar {
  background-color: transparent;
  width: 1.5vmin;
  height: 1.5vmin;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 0.75vmin;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}
::-webkit-scrollbar-thumb:active {
  background-color: #787878;
}

.main-content pre.highlight>code{
  font-family: Consolas, 'Courier New', Arial, 'Microsoft JhengHei' , 'Microsoft YaHei', monospace;
}

/*/ Cursors (These are currently useless)
body{
  cursor: url('/assets/cursor/dark/pointer.png') 9 17, default;
}
:link{
  cursor: url('/assets/cursor/dark/link.png') 17 12, pointer;
}
del{
  cursor: url('/assets/cursor/dark/unavailable.png') 23 23, not-allowed;
}

div > div.highlight{
  background: none;
}
/**/