<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include defaultHead.html %}
    <!-- This is to prevent errors from being reported in the editor -->
    <script src="/assets/js/compatibility_tips.js"></script>
    <title>Zhixingzhehui (association of learners)</title>
  </head>
  <body>
    {% if page.no-nav %}
      {% include defaultHeaderNoNav.html %}
    {% else %}
      {% include defaultHeader.html %}
    {% endif %}
    <main id="content" class="main-content" role="main">
      <noscript>
        <blockquote>
          {%- if page.locate == "zh-CN" -%}
            注意：脚本可能已被禁用<br />
            在本站中，脚本负责处理大多数页面逻辑，如禁用脚本，部分功能将无法正常工作。
          {%- else -%}
            Note: Scripts may have been disabled<br />
            In this site, scripts are responsible for most of the page logic. If scripts are disabled, some functions will not work properly.
          {%- endif -%}
        </blockquote>
      </noscript>
      {{ content }}
      <footer class="site-footer">
        {% include defaultFooter.html %}
      </footer>
    </main>
  </body>
</html>
