<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include defaultHead.html %}
    <!-- This is to prevent errors from being reported in the editor -->
    <script src="/assets/js/Compatibility_tips.js"></script>
    <title>法拉的小说</title>
  </head>
  <body>
    {% if page.no-nav %}
      {% include defaultHeaderNoNav.html %}
    {% else %}
      {% include defaultHeader.html %}
    {% endif %}
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        {% include defaultFooter.html %}
      </footer>
    </main>
  </body>
</html>
