<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include defaultHead.html %}
    <!-- This is to prevent errors from being reported in the editor -->
    <title>法拉的小说</title>
    <style>
      main > p {
        text-indent: 2em;
      }
    </style>
  </head>
  <body>
    {% include defaultHeader.html %}
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        {% include defaultFooter.html %}

        {% if page.no-like %}
          {% include likeDisabled.html %}
        {% else %}
          {% include likeTemple.html %}
        {% endif %}
      </footer>
    </main>
  </body>
</html>
