<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include defaultHead.html %}
    <!-- This is to prevent errors from being reported in the editor -->
    <!-- Because you can read without style, there is no compatibility tips here -->
    <title>Zhixingzhehui (association of learners)</title>
    <style>
      main > p {
        text-indent: 2em;
      }
      body #header-PH, body .page-header{
        height: var(--min-height);
      }
    </style>
  </head>
  <body>
    {% if page.no-nav %}
      {% include defaultHeaderNoNav.html %}
    {% else %}
      {% include defaultHeader.html %}
    {% endif %}
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <p id="novel-modtime">{%- if page.locate == "zh-CN" -%}最后编辑于{%- else -%}Last edited at&ensp;{%- endif -%}{{ page.date }}</p>
        <script>
          modtime = document.getElementById("novel-modtime");
          modtime.innerText = modtime.innerText.replace(/ (\d{1,2}(:| )){3,3}\+\d{1,4}/,"")
        </script><!-- remove time -->
        {% include defaultFooter.html %}

        {% if page.no-like %}
          {% include likeDisabled.html %}
        {% else %}
          {% include likeTemple.html %}
        {% endif %}
      </footer>
    </main>
  </body>
</html>
